* {
  font-family: "IosevkaTerm Nerd Font Mono";
}

.quick-input-html-widget {
  width: 100% !important;
  max-height: 100% !important;
  overflow: hidden !important;
}

.monaco-inputbox {
  border-radius: 6px !important;
  width: 97.5% !important;
  margin: 2px auto !important;
}

.interactive-input-part>.interactive-input-and-side-toolbar>.interactive-input-and-execute-toolbar>.interactive-input-editor {
  width: 500px !important;
}

.interactive-input-part>.interactive-input-and-side-toolbar>.interactive-input-and-execute-toolbar {
  width: 100% !important;
  border-radius: 6px !important;
  padding: 2px 10px !important;
}

.interactive-session>.interactive-input-part {
  padding: 10px 16px !important;
}

.monaco-inputbox>.ibwrapper>.input,
.monaco-inputbox>.ibwrapper>.mirror {
  padding: 4px 10px !important;
}

.quick-input-list>.monaco-list>.monaco-scrollable-element {
  padding: 8px 14px !important;
}

.sidebar,
.titlebar,
.activitybar {
  border: none !important;
  border-left-color: transparent !important;
}

.breadcrumbs-control {
  margin-left: 10px !important;
  height: 100% !important;
  align-items: center !important;
  display: flex !important;
}

.minimap {
  transform: translateX(1px) !important;
}

.sidebar>.composite.title {
  display: none !important;
}

.statusbar.status-border-top,
.composite.title.has-composite-bar {
  border-top: none !important;
  --status-border-top-color: transparent !important;
}

.tabs-container {
  border-left-width: 0px !important;
}

.tab {
  border-right-width: 0px !important;
}

.tabs-border-bottom {
  --tabs-border-bottom-color: transparent !important;
}

.monaco-sash.vertical {
  background-color: #21202e !important;
}

.find-part,
.monaco-findInput {
  align-items: center !important;
}

.controls {
  display: flex !important;
  margin-top: 3.5px !important;
  margin-right: 7px !important;
}

.find-widget.replaceToggled {
  height: 75px !important;
}

.find-widget {
  border-radius: 6px !important;
  box-shadow: none !important;
  height: 39px !important;
}

.find-widget>.codicon-widget-close {
  top: 8px !important;
}

.find-widget>.monaco-sash.vertical {
  display: none !important;
}

.monaco-list-row {
  border-radius: 6px !important;
}

/* Toolbars when tabs are enabled. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
  display: none !important;
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
  opacity: 1 !important;
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
  color: #fff !important;
  opacity: 1 !important;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-size: 14px !important;
  font-weight: 400 !important;
  /* color: #FFF !important; */
}

/* File explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
  display: none !important;
}

/* Scroll Bar */
.slider {
  position: absolute !important;
  right: 2px !important;
  width: 2px !important;
  background: #bc9abc !important;
  left: auto !important;
}

.codicon-toolbar-more,
.codicon-word-wrap {
  display: block !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
  box-shadow: 0px 8px 32px rgba(0, 0, 0, .45) !important;
  padding: 10px !important;
  background-color: #17032D !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 6px !important;
  border: none !important;
}

.overflowingContentWidgets .monaco-sash {
  background-color: transparent !important;
}

/* Suggestion box style */
.suggest-widget {
  background-color: #17032D !important;
  border-radius: 6px !important;
  border: none !important;
  padding: 2px !important;
}

.suggest-details {
  background-color: #1A1829 !important;
  border-radius: 6px !important;
  border: none !important;
  padding: 2px !important;
  transform: translateX(4px) !important;
}

/* Search Label */
.search-label {
  font-size: 14px !important;
  color: #fff;
  display: block;
}

/* Search icon */
.search-icon {
  display: none !important;
}

.codicon-search::before {
  display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
  display: none !important;
}

.titlebar-right>* {
  display: none !important;
}

/* Command Palette */
.quick-input-widget {
  position: absolute !important;
  top: 30vh !important;
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 6px;
  max-height: 40vh !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .45) !important;
  padding: 10px 10px 20px 10px !important;
  backdrop-filter: blur(3px) !important;
  z-index: 100000 !important;
}

.quick-input-titlebar {
  border-radius: 6px !important;
}

/* Remove background for lists */
.monaco-list-rows {
  background: transparent !important;
}

.notifications-toasts .monaco-list-row:hover {
  background: none !important;
}

.pane-header {
  border-radius: 6px !important;
}

#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  backdrop-filter: blur(0px);
  z-index: 99999;
  transition: all 0.2s ease-out;
  opacity: 0;
}

#command-blur.active {
  background: rgba(0, 0, 0, .15);
  backdrop-filter: blur(8px);
  opacity: 1;
}

.scm-editor,
.suggest-input-container {
  border-radius: 6px !important;
  padding: 2px !important;
}
